body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  scroll-behavior: auto;
  width: 100%;
  height: 700px;
}

::-webkit-scrollbar {
  display: none;
}
.nav {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: stretch;
  min-width: 1537px;
  gap: 1rem;
  list-style: none;
  border: 1px solid #c8c8c8;
  box-sizing: border-box;
  background-color: white;
  font-family: 'Roboto';
}

/* .nav-container {
  display: flex;
  align-items: center;
  justify-content: stretch;
  box-sizing: border-box;
  border: 1px solid black;
  min-width: 1535px;
  background-color: #8a8484;
} */

.fa-bars {
  position: relative;
  left: 320px;
  font-size: x-large;
}

.mobile-nav {
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  height: 57px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  position: relative;
  top: 8px;
}

.container-1,
.profile {
  display: flex;
}

.menu-links {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.btn-1 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #ffcd1e;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  width: 130px;
  height: 37px;
  font-weight: 700;
  font-size: large;
  position: relative;
  border: none;
  left: 949px;
}

.btn-1:hover {
  background-color: black;
  color: cadetblue;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 377px;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #8a8484;
  box-sizing: border-box;
  position: relative;
  right: -356px;
}

.search-bar input {
  width: 280px;
  outline: none;
  border: none;
  text-indent: 10px;
  background-color: transparent;
  position: relative;
  right: 9px;
}

.search-bar button {
  background: none;
  border: none;
  color: #435aaa;
  font-size: 14px;
  position: relative;
  right: 15px;
  width: 61px;
}

.search-bar .fa-magnifying-glass {
  font-size: 20px;
  position: relative;
  right: 0px;
}

.name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffdede;
  text-align: center;
  height: 57px;
  width: 345px;
  position: relative;
  right: 655px;
  text-align: center;
}

.material-icons {
  display: none;
}

.name-container p {
  font-size: 19px;
  width: 350px;
  position: relative;
  top: 7px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -550px;
}

.logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
}

.menu-links {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: -130px;
  gap: 2rem;
}

.menu-links a .fa-solid {
  text-decoration: none;
  color: grey;
  font-size: 30px;
}

a:hover>.fa-calendar-days {
  color: black;
}

a:hover>.fa-bell {
  color: black;
}

a:hover>.fa-message {
  color: black;
}

.fa-microphone {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #c8c8c8;
  font-size: 25px;
  position: relative;
  left: 357px;
  top: 10px;
}

.fa-microphone:hover {
  background-color: black;
  color: #8a8484;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: -155px;
  gap: 1rem;
}

.profile img {
  border: 50%;
}

.profile a {
  text-decoration: none;
  color: black;
}

.advance-srch {
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
  left: 10px;
  font-size: 12px;
  display: none;
  position: relative;
  bottom: 920px;
  left: 400px;
  overflow-y: scroll;
}

.advance-srch label,
input,
select {
  border-radius: 5px;
  border: 0.5px solid #7A7A7A;
  height: 22px;
}

.advance-srch input::placeholder {
  width: 54px;
  background-color: #BFF4D2;
  color: #000000;
  font-size: 12px;
  position: relative;
  left: 5px;
}

.advance-srch label {
  background-color: #FFFFFF;
}

.srch-head,
.advance-item1,
.advance-item2 {
  width: 100%;
}

.srch-head {
  height: 42px;
  border-bottom: 1px solid #CCCCCC;
}

.srch-head p {
  position: relative;
  left: 10px;
  top: 10px;
  font-size: 16px;
}

.advance-item1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  height: 159px;
  border-bottom: 1px solid #CCCCCC;
}

.sub-item1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
  font-size: 12px;

}

.sub-item2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
  font-size: 12px;
}

.advance-item1 .sub-item1 :nth-child(1) {
  width: 145px;
}

.advance-item1 .sub-item1 :nth-child(2) {
  width: 152px;
}

.advance-item1 .sub-item2 :nth-child(1) {
  width: 138px;
  position: relative;
  right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.advance-item1 .sub-item2 :nth-child(2) {
  width: 136px;
  position: relative;
  bottom: 11px;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrap a {
  text-decoration: none;
  color: #0997FF;
  font-size: 10px;
  position: relative;
  top: 1px;

}

.advance-item2 {
  border-bottom: 1px solid #CCCCCC;
  height: 877px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.advance-item2 .sub-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sub-item label {
  font-size: 12px;
}

.sub-item input {
  width: 142px;
}

.sub-item select {
  width: 142px;
}

.one,
.two {
  gap: 45px;
}

.one label {
  width: 114px;
}

.two label {
  width: 114px;
  font-size: 12px;
}

.three label {
  width: 124px;
}

.three {
  gap: 35px;
}

.four label {
  width: 124px;
}

.four {
  gap: 35px;
}

.five label {
  width: 124px;
}

.five {
  gap: 35px;
}

.six label {
  width: 124px;
}

.six {
  gap: 35px;
}

.seven label {
  width: 159px;
}

.seven {
  gap: 6px;
}

.eight label {
  width: 159px;
}

.eight {
  gap: 6px;
}

.nine label {
  width: 159px;
}

.nine {
  gap: 6px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.wrapper label {
  width: 124px;
  text-align: left;
}

.wrapper .sub-item {
  gap: 35px;
}

.ten label {
  width: 150px;
}

.ten {
  gap: 9px;
}

.eleven label {
  width: 124px;
}

.eleven {
  gap: 35px;
}

.advance-footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 13px;
}

.advance-footer button {
  border-radius: 3px;
  border: none;
  position: relative;
  left: 100px;
}

.cancel {
  width: 63px;
  height: 22px;
  background-color: #DFDFDF;
  font-size: 13px;
  text-align: center;
}

.search {
  width: 51px;
  height: 22px;
  background-color: #FFA000;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
}

@media screen and (max-width: 428px) {
  body {
    margin: 0;
    padding: 0;
    max-width: 428px;
    scroll-behavior: smooth;
  }

  .nav {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b6f6ff;
    min-width: 428px;
    border: none;
    /* overflow-x: hidden; */
    box-sizing: border-box;
    height: 70px;
  }

  .fa-bars {
    color: #413768;
  }

  .search-bar {
    position: relative;
    width: 10px;
    border: none;
    right: 20px;
  }

  .search-bar .fa-magnifying-glass {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 30px;
    color: #413768;
    z-index: 1;
  }

  .search-bar button {
    display: none;
  }

  .search-bar input {
    width: 0;
    background-color: transparent;
  }

  .search-bar:hover>input {
    width: 265px;
    height: 49px;
    position: absolute;
    z-index: 1;
    right: 30px;
    background-color: lightblue;
    border-radius: 5px;
    border: 1px solid blue;
    transition: 300ms ease-in;
  }

  .search-bar:hover>.fa-magnifying-glass {
    font-size: 20px;
    color: teal;
  }

  /* .search-bar:hover> button{
    display: flex;
    right: 59px;
    z-index: 1;
  } */
  .btn-1 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 250px;
    left: -32px;
    font-weight: 700;
    font-size: large;
    font-family: 'Roboto';
  }

  .btn-1 {
    height: 40px;
    position: relative;
    color: #413768;
  }

  .fa-bars {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 30px;
    left: -40px;
    height: 50px;
  }

  .material-icons {
    display: flex;
    position: relative;
    font-size: 30px;
    left: -10px;
    color: #413768;
  }

  .container-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 1px;
    width: 345px;
    top: 75px;
    /* border-radius: 10px; */
    height: 350px;
    z-index: 1;
    background-color: #b6f6ff;
  }

  .name-container {
    position: relative;
    left: -1px;
    top: -70px;
    width: 347px;
    /* border-radius: 10px; */
  }

  .menu-links {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -140px;
    top: -50px;
    gap: 1rem;
  }

  .fa-microphone {
    position: relative;
    left: -140px;
    top: 225px;
  }

  .profile {
    position: relative;
    right: 72px;
    top: 10px;
  }

  .logo {
    position: relative;
    top: -70px;
    left: -125px;
  }

  .logo a {
    font-size: 30px;
    font-weight: 700;
  }

  .hide {
    display: none;
    transition: 300ms ease;
    z-index: 1;
  }
}

#display-image {
  background-position: center;
  background-size: cover;
  width: 120px;
  height: 120px;
  border: 1px solid lightgrey;
  border-radius: 50%;
  position: relative;
  bottom: 170px;
}

.brcd-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  right: 150px;
  bottom: 75px;
  height: 700px;
}

.barcode {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 247px;
  height: 90px;
  position: relative;
  bottom: 170px;

}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
}

.reg {
  position: relative;
  top: 47px;
}

.item-container,
.item-container2,
.item-container4,
.item-container5,
.item-container6,
.item-container7,
.item-container9 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  flex-wrap: wrap;
}

.item-container .item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item-container .item input {
  width: 188px;
  height: 28px;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
}

.item-container .item label {
  width: 188px;
}

.item-container2 .item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item-container2 .item input {
  width: 188px;
  height: 28px;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
}

.item-container2 .item label {
  width: 188px;
}

.item-container {
  position: relative;
  top: 94px;
}

.item-container2 {
  position: relative;
  top: 114px;
}

.item-container3 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 119px;
  flex-direction: column;
}

.item-container3 .sms-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 188px;
  gap: 8px;
}

.item-container3 .sms-item label {
  font-size: 12px;
  position: relative;
  right: 5px;
}

.item-container3 .sms-item a {
  font-size: 12px;
  color: #0997ff;
  text-decoration: none;
}

.item-container3 .sms-item input {
  font-size: 12px;
  align-self: center;
}

.num-input {
  position: relative;
  top: 8px;
}

.num-input input {
  width: 188px;
  height: 28px;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
}

.num-input input::placeholder {
  color: #C4C4C4;
  font-size: 12px;
  position: relative;
  left: 5px;
}

.item-container4 {
  position: relative;
  top: 144px;
}

.item-container4 input {
  border: 1px solid #c4c4c4;
  border-radius: 2px;
}

.item-container4 select {
  border: 1px solid #c4c4c4;
  border-radius: 2px;
}

.item-container4 .item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dob input {
  width: 117px;
  height: 25px;
}

.dob label {
  width: 117px;
}

.dob {
  position: relative;
  left: 5px;
}

.age input {
  width: 61px;
  height: 25px;
}

.age label {
  width: 61px;
}

.age {
  position: relative;
  right: 15px;
}

.gender select {
  width: 83px;
  height: 25px;
}

.gender label {
  width: 83px;
}

.gender {
  position: relative;
  right: 17px;
}

.bg select {
  width: 83px;
  height: 25px;
}

.bg {
  position: relative;
  right: 17px;
}

.lang select {
  width: 181px;
  height: 25px;
}

.lang label {
  width: 181px;
}

.lang {
  position: relative;
  left: -5px;
}

.item-container5 .item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  /* left: 8px; */
}

.item-container5 {
  position: relative;
  top: 160px;
  right: 8px;
}

.item-container5 input {
  border: 1px solid #c4c4c4;
  border-radius: 3px;
}

.add input {
  width: 331px;
  height: 28px;

}

.add label {
  width: 331px;
}

.pin input {
  width: 107px;
  height: 28px;
}

.pin label {
  width: 107px;
}

.city input {
  width: 107px;
  height: 28px;
}

.city label {
  width: 107px;
}

.add {
  position: relative;
  right: 10px;
}

.pin {
  position: relative;
  left: 10px;
}

.city {
  position: relative;
  left: 10px;
}

.item-container6 {
  position: relative;
  top: 194px;
  flex-direction: column;
}

.item-container6 .item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item-container6 {
  position: relative;
  /* right: 128px; */
}

.item-container6 a {
  text-decoration: none;
  color: #0997ff;
  font-size: 12px;
  position: relative;
  right: 30px;
}

.item-container6 select {
  width: 180px;
  height: 28px;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
}

.item-container6 input {
  width: 169px;
  height: 28px;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
}

.container_6wrap {
  display: flex;
  gap: 28px;
  position: relative;
}

.item-container6 .relation_container {
  position: relative;
  right: 230px;
  height: 100px;
  width: 150px;
  overflow: scroll;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
}

.relation_container::-webkit-scrollbar {
  display: none;
}
.relation {
  position: relative;
  right: 130px;
}

.member {
  position: relative;
  right: 130px;
}

.member label {
  position: relative;
  bottom: 5px;
}

.member input {
  position: relative;
  bottom: 5px;
}

.relation label {
  width: 180px;
}

.item-container6 label {
  width: 169px;
}

.item-container7 {
  position: relative;
  top: 218px;
}

.item-container7 .item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.item-container7 .item {
  position: relative;
  right: 260px;
}

.rad {
  display: flex;
  gap: 9px;
}

.item-container8 {
  position: relative;
  top: 232px;
}

.item-container8 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item-container8 p {
  position: relative;
  right: 265px;
}

.container-8 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-8 {
  position: relative;
  bottom: 10px;
  width: 600px;
}

.item-container8 .item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.allergy select {
  width: 129px;
  height: 28px;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
}

.allergy input {
  width: 123px;
  height: 28px;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
}
/* #allergy{
  border:1px solid #000000;
} */
.medical-hist {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.medical-hist input {
  width: 200px;
  height: 28px;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
}

.medical-hist label {
  width: 200px;
}
.medical-hist ul {
  position: relative;
  right: 50px;
  height: 85px;
  overflow: scroll;
}

/* .medical-hist ul::-webkit-scrollbar{
  display: block;
  width: 20px;
} */

.allergy {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  left: 51px;
  top: -72px;
  height: 90px;
}
.allergy .allergy_info{
  width: 150px;
  height: 100px;
  position: relative;
  top: 45px;
  overflow: scroll;
  list-style: none;
}
.allergy_info::-webkit-scrollbar {
  display: none;
}
.allrgy-inpt {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  top: 40px;
}

.allergy label {
  width: 265px;
  position: relative;
  top: 40px;
}
.medical-hist {
  position: relative;
}

.allergy {
  position: relative;
  bottom: 25px;
}

.head {
  position: relative;
  bottom: 55px;
  left: 307px;
}

.item-container9 {
  border-top: 1px solid #727272;
  position: relative;
  top: 234px;
}
.item-container9 .insurance {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 51px;
}

.item-container9 .item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  /* overflow-y: scroll; */
}

.insr-provider,
.plan {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.insr-provider {
  position: relative;
  /* right: 140px; */
}

.insr-provider label {
  width: 226px;
}

.insr-provider select {
  width: 226px;
  height: 30px;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
}

.plan label {
  width: 226px;
}

.plan select {
  width: 226px;
  height: 30px;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
}

.policy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 51px;
}

.policy-item1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.policy-item1 input {
  width: 226px;
  height: 30px;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
}

.policy-item1 label {
  width: 226px;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.img input {
  display: none;
}

.capture input {
  display: none;
}

.img-container label {
  width: 226px;
}

.img-cont {
  width: 226px;
}

.img label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dbffff;
  height: 35px;
  width: 110px;
  color: #0997ff;
  border-radius: 5px;
  gap: 5px;
  font-size: 14px;
}

.img .fa-image {
  color: black;
}

.img label {
  font-size: 14px;
}

.capture label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dbffff;
  height: 35px;
  width: 110px;
  color: #0997ff;
  border-radius: 5px;
  font-size: 14px;
  gap: 5px;
}

.capture .material-icons-round {
  color: black;
  font-size: 16px;
}

.item-container9 .item p {
  position: relative;
  right: 255px;
}

.appt-btn {
  position: relative;
  top: 280px;
  left: 390px;
}

.appt-btn button {
  width: 253px;
  height: 44px;
  background: #ffda57;
  border-radius: 5px;
  font-size: 20px;
  border: none;
}

.btn-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 36px;
  position: relative;
  bottom: 290px;
  left: 150px;
}

.scan {
  background-color: #3eaeff;
  border: none;
  border-radius: 10px;
  width: 166px;
  height: 48px;
  font-size: 20px;
  color: white;
}

.merge {
  background-color: #ffa0a0;
  border: none;
  border-radius: 5px;
  width: 219px;
  height: 44px;
  font-size: 20px;
}

.container_i input {
  display: none;
}

.container_i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_i label {
  background-color: #cccc;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  text-align: center;
}

.container_i .material-icons-outlined {
  position: relative;
  top: 45px;
  font-size: 40px;
}

.modal-1 {
  overflow-y: hidden;
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  flex-direction: column;
  gap: 1rem;
  width: 604px;
  height: 237px;
  border-radius: 15px;
  position: relative;
  left: 450px;
  top: 50px;
  overflow: hidden;
}

.modal-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 431px;
}

.modal-bar button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 9px;
}

.modal-bar p {
  font-size: 15px;
  font-weight: 400;
  font-family: "Roboto";
}

.close {
  cursor: pointer;
  font-size: 40px;
}

.modal-input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: relative;
  bottom: 30px;
}

.modal-item1,
.modal-item2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-input .material-icons-outlined {
  position: relative;
  top: 10px;
}

.modal-item1 input {
  width: 190px;
  height: 23px;
  border-radius: 3px;
  border: 1px solid #929292;
}

.modal-item1 input::placeholder {
  width: 136px;
  color: #B8B8B8;
  font-size: 10px;
  position: relative;
  bottom: 2px;
}

.modal-item2 input::placeholder {
  width: 136px;
  color: #B8B8B8;
  font-size: 10px;
  position: relative;
  bottom: 2px;
}

.modal-item1 label {
  width: 190px;
  height: 23px;
}

.modal-item2 input {
  width: 174px;
  height: 23px;
  border-radius: 3px;
  border: 1px solid #929292;
}

.modal-item2 label {
  width: 174px;
  height: 23px;
}

.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 19px;
  position: relative;
  bottom: 29px;
  border-top: 1px solid #cccccc;
}

.modal-btn label {
  position: relative;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 11px;
  color: #EB0000;
}

.modal-btn label .material-icons-outlined {
  font-size: 15px;
  color: #FF0000;
}

.modal-btn .merge {
  width: 159px;
  height: 40px;
  background: #ffa0a0;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
}

.play-area-sub {
  width: 47%;
  padding: 1em;
  display: none;
  text-align: center;
  position: absolute;
  width: 320px;
  height: 240px;
}

.play-area-sub1 {
  display: none;
  text-align: center;
  position: absolute;
}

#capture {
  display: flex;
}

#snapshot {
  display: inline-block;
  width: 320px;
  height: 240px;
}

#snapshot-1 {
  cursor: pointer;
}

.modal-backdrop.show {
  opacity: 0 !important;
  display: none;
}

.file {
  display: flex;
  justify-content: center;
}

.files {
  justify-content: center;
  position: relative;
}

#output {
  display: none;
}

.cameraselector button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dbffff;
  width: 120px;
  height: 30px;
  font-size: 11px;
  gap: 5px;
  color: #0997ff;
  font-family: "Roboto";
  border: none;
}

.cameraselector button .material-icons-round {
  color: black;
  font-size: 16px;
}

.galleryselector label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dbffff;
  border-radius: 5px;
  height: 30px;
  width: 120px;
  font-family: "Roboto";
  font-size: 11px;
  gap: 5px;
  color: #0997ff;
}

.galleryselector label .fa-image {
  font-size: 16px;
  color: black;
}

.file-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.file {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

#example-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-x: scroll;
}

#example {
  width: 200px;
}

.copy-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  overflow: scroll;
  position: relative;
  left: 200px;
}

.scn_modal {
  width: 100%;
  height: 885px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  z-index: 1;
  position: relative;
  bottom: 929px;
  background-color: rgba(0, 0, 0, 0.4);
}

#qr-reader-results {
  width: 500px;
  height: 30px;
  background-color: #000000;
  color: white;
  text-align: center;
  position: relative;
  bottom: 44px;
}

#reader {
  width: 500px;
  height: 600px;
  background-color: #fff;
}

.code-input {
  /* height: 50px; */
  position: relative;
  top: -70px;
  width: 438px;
  height: 2.5rem;
  background-color: #000000;

}

.code-input input {
  width: 440px;
  height: 2.5rem;

}

#reader__dashboard_section_fsr span {
  display: none !important;
}

#reader__dashboard_section {
  padding: 0 !important;
}

#reader__dashboard_section_swaplink {
  text-decoration: none !important;
  border-radius: 2px;
  margin-top: 1rem;
  color: #fff;
  background-color: #1989fa;
  border: 1px solid #1989fa;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: 2.5rem;
  width: 88%;
  line-height: 2.5rem;
  text-align: center;
  cursor: pointer;
  align-items: center;
  -webkit-appearance: none;
  -webkit-box-pack: center;
}

#reader__dashboard_section_csr button {
  text-decoration: none !important;
  border-radius: 2px;
  margin-top: 1rem;
  color: #fff;
  background-color: #ee0a24;
  border: 1px solid #ee0a24;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: 2.5rem;
  width: 88% !important;
  line-height: 2.5rem;
  text-align: center;
  cursor: pointer;
  align-items: center;
  -webkit-appearance: none;
  -webkit-box-pack: center;
}

#reader__dashboard_section_csr span {
  margin-right: 0 !important;

}

#reader__dashboard_section_fsr input {
  text-decoration: none !important;
  border-radius: 2px;
  margin-top: 1rem;
  color: #fff;
  background-color: #07c160;
  border: 1px solid #07c160;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: 2.5rem;
  width: 88% !important;
  line-height: 2.5rem;
  text-align: center;
  cursor: pointer;
  align-items: center;
  -webkit-appearance: none;
  -webkit-box-pack: center;

}

#reader__camera_selection {
  background-color: #fff;
  height: 2.5rem;
  width: 88%;
  line-height: 2.5rem;
  border: 1px solid #1989fa;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}




@media screen and (max-width: 428px) {
  
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 428px;
    /* height: 100%; */
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    overflow-x: hidden;
    position: relative;
    top: -1px;
  }

  .form {
    position: relative;
    top: 80px;
    display: flex;
    order: 3;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 410px;
  }

  .reg {
    width: 399px;
    font-weight: 600;
    font-size: 26px;
  }

  .item-container,
  .item-container2,
  .item-container3,
  .item-container4,
  .item-container5,
  .item-container6,
  .item-container7,
  .item-container8,
  .item-container9 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .item-container .item label {
    width: 399px;
    font-weight: 400;
  }

  .item-container .item input {
    width: 399px;
  }

  .item-container2 .item label {
    width: 399px;
    font-weight: 400;
  }

  .item-container2 .item input {
    width: 399px;
  }

  .item-container3 .sms-item {
    width: 399px;
    font-weight: 400;
    position: relative;
    right: 115px;
  }

  .num-input {
    width: 399px;
    position: relative;
    right: 2px;
  }

  .num-input input {
    width: 399px;
  }

  .item-container4 .item label {
    width: 399px;
    font-weight: 400;
  }

  .item-container4 .item input {
    width: 399px;
  }

  .item-container4 .item select {
    width: 399px;
    font-weight: 400;
  }

  .dob {
    position: relative;
    left: -1px;
  }

  .age {
    position: relative;
    left: 0px;
  }

  .gender {
    position: relative;
    left: 1px;
  }

  .bg {
    position: relative;
    left: 1px;
  }

  .lang {
    position: relative;
    left: 2px;
  }

  .item-container5 {
    position: relative;
    left: -1px;
  }

  .add {
    width: 399px;
    position: relative;
    left: 2px;

  }

  .add label {
    width: 399px;
  }

  .add input {
    width: 399px;
  }

  .pin,
  .city {
    width: 399px;
    position: relative;
    left: -2px;
  }

  .pin input {
    width: 399px;
  }

  .pin label {
    width: 399px;
  }

  .city input {
    width: 399px;
  }

  .city label {
    width: 399px;
  }

  .relation label {
    width: 399px;
  }

  .relation select {
    width: 399px;
  }

  .relation a {
    width: 399px;
    position: relative;
    left: 10px;
  }

  .member label {
    width: 399px;
  }

  .member input {
    width: 399px;
  }

  .relation {
    position: relative;
    left: -2px;
  }

  .member {
    position: relative;
    left: -2px;
  }
  .container_6wrap{
    display: flex;
    flex-direction: column;
  }
  .relation_container{
    position: relative;
    left:-120px;
  }
  .item-container7 {
    position: relative;
    width: 400px;
    top: 210px;
  }

  .item-container7 .item {
    left: -135px;
  }

  .item-container7 .item label {
    font-size: 16px;
  }

  .rad {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-8 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
  }

  .item-container8 p {
    width: 399px;
    position: relative;
    left: -2px;
    font-weight: 700;
    font-size: 16px;
    top: 20px;
  }

  .container-8 .item {
    width: 399px;
    position: relative;
    top: 20px;
  }

  .medical-hist label {
    width: 399px;
  }

  .medical-hist input {
    width: 399px;
  }

  .medical-hist ul {
    position: relative;
    right: 160px;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    position: relative;
    top: 6px;
  }

  .allergy {
    width: 399px;
    position: relative;
    left: -2px;
  }
.allergy_info{
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 150px;
  height: 150px;
  list-style: none;
}
  .allergy label {
    width: 399px;
  }

  .allrgy-inpt select {
    width: 399px;
  }

  .allrgy-inpt input {
    display: none;
  }

  .item-container9 {
    border-top: none;
    width: 400px;
    position: relative;
  }

  .item-container9 .item {
    position: relative;
    bottom: 30px;
  }

  .item-container9 .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .item-container9 p {
    font-weight: 600;
    font-size: 16px;
    width: 400px;
    position: relative;
    left: -1px;
    bottom: 8px;
  }

  .insurance {
    position: relative;
    bottom: 40px;
  }

  .plan {
    position: relative;
    bottom: 30px;
  }

  .policy {
    position: relative;
    bottom: 80px;
  }

  .img-container {
    position: relative;
    bottom: 40px;
  }

  .insurance {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .policy {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .insr-provider label {
    width: 399px;
  }

  .insr-provider select {
    width: 399px;
  }

  .plan label {
    width: 399px;
  }

  .plan select {
    width: 399px;
  }

  .policy-item1 label {
    width: 399px;
  }

  .policy-item1 input {
    width: 399px;
  }

  .img-container label {
    width: 399px;
  }

  .img-cont {
    gap: 58px;
  }

  .img-container {
    display: flex;
    gap: 10px;
  }

  .img label {
    display: flex;
    gap: 17px;
    width: 150px;
    height: 32px;
    background-color: white;
    border: 1px solid #000000;
    border-radius: 5px;
  }

  .img .fa-image {
    color: #767676;
  }

  .capture label {
    display: flex;
    gap: 17px;
    width: 150px;
    height: 32px;
    background-color: white;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 14px;
  }

  .capture .material-icons-round {
    color: #767676;
  }

  .appt-btn {
    position: relative;
    left: -5px;
    top: 110px;
  }

  .appt-btn button {
    width: 220px;
    height: 44px;
    border-radius: 10px;
    font-size: 16px;
  }

  .barcode {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 237px;
    height: 90px;
    top: -3px;
  }

  .brcd-container {
    width: 399px;
    top: 80px;
    left: -2px;
    height: 170px;
    display: flex;
    gap: 15px;
    order: 2;
  }

  #display-image {
    background-position: center;
    background-size: cover;
    width: 80px;
    height: 80px;
    border: 1px solid lightgrey;
    border-radius: 50%;
    position: relative;
    top: 10px;
  }

  .container_i label {
    height: 80px;
    width: 80px;
    text-align: center;
  }

  .container_i .material-icons-outlined {
    position: relative;
    top: 30px;
    font-size: 20px;
  }

  .btn-3 {
    position: relative;
    left: -5px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row-reverse;
    gap: 37px;
    order: 1;
    bottom: -50px;
  }

  .merge {
    width: 176px;
    height: 44px;
  }

  .scan {
    width: 166px;
    height: 48px;
  }

  .galleryselector label {
    width: 150px;
    height: 32px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    font-size: 12px;
    gap: 16px;
    text-align: start;
  }

  .galleryselector label .fa-image {
    color: #767676;
  }

  .cameraselector button {
    width: 150px;
    height: 32px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    font-size: 12px;
    gap: 16px;
    text-align: start;
  }

  .cameraselector button .material-icons-round {
    color: #767676;
  }

  .file-container {
    display: flex;
    gap: 58px;
  }

  .copy-container {
    position: relative;
    bottom: 130px;
    left: -0px;
  }

  /* #example-1 {
    height: 150px;
    width: 200px;
  }

  #example {
    height: 150px;
    width: 200px;
  } */

  .modal-1 {
    overflow: hidden;
  }

  .modal-content1 {
    height: 604px;
    width: 390px;
    position: relative;
    left: 20px;
    display: flex;
  }

  .modal-bar {
    display: flex;
    gap: 200px;
    position: relative;
    top: -110px;
  }

  .modal-input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 100px;
  }

  .modal-input input {
    width: 310px;
    height: 30px;
  }

  .modal-input label {
    width: 310px;
  }

  .modal-btn {
    border: none;
    position: relative;
    top: -90px;
  }

  .modal-btn label {
    gap: 6px;
    width: 310px;
    text-align: center;
    font-size: 13px;
  }

  #scn_modal {
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    top: -2500px;
    left: 0px;
    width: 445px;
    height: 900px;
    border: 1px solid #000000;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
  }

  #reader {
    width: 350px;
    height: 480px;
    background-color: #fff;
    position: relative;
    bottom: 40px;
    overflow-x: hidden;
  }

  .code-input {
    position: relative;
    left: -1px;
    width: 305px;
    top: -100px;
    height: 25px;
  }

  .code-input input {
    width: 305px;
    height: 25px;

  }

  #qr-reader-results {
    width: 350px;
    height: 30px;
    background-color: #000000;
    color: white;
    text-align: center;
    position: relative;
    /* top: 44px; */
  }
}