@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
#nameOfPatientInMob,#userInfo{
    display: none;
}
.HeaderTag{
    position: fixed;
    z-index: 900;
}
/* navbar for desktop */
.buttonForSideNav {
    outline: none;
    border: 1px solid #a4a4a4;
    margin-right: 10px;
    border-radius: 9px;
    padding: 6px;
}
.navForDeskTop{
    width: 100vw;
}
.buttonForSideNav:hover {
    background-color: #a4a4a4;
}

.navbar-first {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.hospital-name {
    flex-wrap: nowrap;
    color: black;
    margin-top: 7px;
    font-size: 15px;
     /* Code for hospital name @anjudewangan */
     text-decoration: none;
     /* Code for hospital name @anjudewangan */
}

.hospital-name:hover {
    color: blueviolet;
    text-decoration: none;
}

.navbar-second {
    width: 70%;
}

.secondNavUl {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;

}
.navbar-second .nav-item{
    list-style: none;
}
.addPateintButton{
    font-size: 12px;
    margin: 0;
}
.nav-item.dropdown>.nav-link .indicator {
    position: absolute;
    bottom: 16px;
    left: 17px;
    font-size: 10px;
}
#alertsDropdown,#messagesDropdown{
    padding: 0;
}
.addpatient {
    padding-top: 0px;
    padding-bottom: 0px;
    background: orange;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    border-radius: 5px;
}

.navbar-third {
    width: 15%;
}

.dropbtn {
    background-color: transparent;
    color: rgb(154, 157, 160);
    font-size: 16px;
    cursor: pointer;
    margin-top: 4px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

/* The side navigation menu */
.sidenav {
    height: 92vh;
    /* 100% Full-height */
    width: 57px;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 888;
    /* Stay on top */
    top: 58px;
    /* Stay at the top */
    left: 0;
    /* code for sidenav @anjudewangan */
    background-color: #FFFCE2 !important;
     /* code for sidenav @anjudewangan */
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.navbar-sidenav>.nav-item>.nav-link {
    color: rgb(14, 14, 14);
    display: flex;
    flex-wrap: nowrap;
}

.navbar-sidenav>.nav-item>.nav-link:hover {
    background-color: rgb(236, 236, 11);
}

#exampleAccordion .nav-item a {
    color: rgb(14, 14, 14);
    display: flex;
    flex-wrap: nowrap;
    font-size: 21px;
}

.navbar-sidenav>.nav-item>.nav-link:hover {
    background-color: rgb(236, 236, 11);
}

#exampleAccordion .nav-link-text {
    font-size: 11.5px;
    margin-left: 25px;
}
.nav-link-text {
    font-size: 18px;
    margin-left: 25px;
}

#exampleAccordion .nav-link i {
    margin-left: 20px;
}

.sidenav-second-level li a {
    font-size: 10px;
}

.alertDetails {
    position: absolute;
    top: 100%;
    background-color: #ffffff;
    left: 70%;
    height: auto;
    width: 30vw;
    border: 0.01rem solid black;
    box-shadow: 11px 11px 30px -9px black;
    border-radius: 5px;
    z-index: 98;
    padding: 16px;
}

.alertBodyitems {
    background-color: transparent;
    padding: 5px;
}

.alertBodyitems:hover {
    background-color: #cce7ff;
}

.alertBodyitemsPart1 {
    display: flex;
    justify-content: space-between;
}

.messageAlertDetails {
    background-color: #ffffff;
    position: absolute;
    top: 100%;
    left: 70%;
    height: auto;
    width: 30vw;
    border: 0.01rem solid black;
    box-shadow: 11px 11px 30px -9px black;
    border-radius: 5px;
    z-index: 50;
    padding: 16px;
}

.MadBodyitemsPart2 p {
    font-size: 10px;
}

.MADBody {
    height: 25vh;
    min-height: 25vh;
    overflow-y: scroll;
}

.adminSettingBox{
    background-color: #ffffff;
    position: absolute;
    top: 100%;
    left: 84%;
    height: auto;
    width: 16%;
    border: 0.01rem solid black;
    box-shadow: 11px 11px 30px -9px black;
    border-radius: 5px;
    z-index: 50;
    padding: 16px;
}
.adminSettingBox p{
    margin: 0;
    padding: 0;
}
#settingOptions{
    padding: 0;
}
#settingOptions li{
    list-style: none;
    font-size: 12px;
    margin: 5px 0;
    border-bottom: 1px solid rgb(190, 190, 190);
}
#settingOptions li:hover{
    background-color: #cce7ff;
    cursor: pointer;
}
.nav-link{
    color: #818181;
}
main{
    display: flex;
}
.navbarForMob,#mobAllbtn,#showMsgDate,.angleDownMob,.showMsgDateMob,.callDate,.MobOptionsForMess,.sendingMsgBoxMob,#MobSettingBox,.fullscreen-container2{
    display: none;
}
.MobTagListBox,.attachOptionsMob{
    display: none;
}

/* navbar for computer */


.separator {
    display: flex;
    align-items: center;
    font-size: 12px;
    text-align: center;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
  }
  
  .separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .25em;
  }

.custom-checkbox input[type="checkbox"],
.custom-checkbox .checked {
display: none;
}

.custom-checkbox input[type="checkbox"]:checked ~ .checked
{
display: inline-block;
}

.custom-checkbox input[type="checkbox"]:checked ~ .unchecked
{
display: none;
}

::-webkit-scrollbar {
    width: 3px;
    height: 5px;
}
      
      /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
       
      /* Handle */
::-webkit-scrollbar-thumb {
    background: #007185; 
}
      
      /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(33, 55, 104); 
}    
/* for chatting and calling list */
.chatAndCallList{
    display: block;
    width: 418px;
    height: 926px;
    border: 2px solid black;
    border-radius: 8px;
    overflow: scroll;
    margin-top: 71px;
}
.part-1{
    height: 36px;
    width: 100%;
    padding: 2px;
    margin: 5px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.chatOptions button{
    width: 100px;
    height: 34px ;
    padding: 5px 8px;
    border: 1px solid black;
    outline: none;
    border-radius: 3px;
    font-size: 12px;
}
.chatOptions button:hover{
    background-color: #24C534;
    color: white;
}
.refresh button{
    background-color: #0997FF;
    color: white;
    width: 30px;
    height: 30px;
    outline: none;
    border: 1px solid black;
    border-radius: 50%;
}
.searchBar{
    display: flex;
    padding: 2px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32px
}
.searchbox {
    display: flex;
}

.search,#searchCallHistory{
    background: #FFFFFF;
    border: 1px solid #007185;
    outline: none;
    box-sizing: border-box;
    border-radius: 5px;
}
.search::placeholder,#searchCallHistory::placeholder{
    padding: 0 2px;
    font-size: 12px;
}
.searchButton,.searchCallButton{
    background-color: #007185;
    color: white;
    outline: none;
    border: 1px solid black;
    padding: 1px 2px;
}
/* chat list */
.chatListMethod{
    margin-top: 10px;
    display: flex;
    font-size: 14px;
    width: 393px;
    justify-content: space-around;
    overflow-y: scroll;
}
.waves {
    height: 21px;
}
.chatListMethod ul{
    list-style: none;
}
.chatListMethod .f{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.messageBox{
    width: 100%;
}
.messageBox .box{
    width: 100%;
    padding: 0 5px;
}
.messageBox .box:hover{
    background-color: #EDEDED;
}
.box .names,.msgAndInfo{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nameMessenger{
    font-size: 19px;
}
.msg{
    font-size: 12px;
    width: 272px;
}
.additional{
    list-style: none;
    display: flex;
}
.unreadCount{
    background-color: #24C534;
    border-radius: 50%;
    width: 20px;
    color: white;
    height: 20px;
}
/* call list */
.callList{
    display: none;
}
.listMethod{
    width: 90%;
}
.listMethod ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
}
.listMethod ul li a{
    font-size: 14px;
    color: black;
    text-decoration: none;
    padding: 2px;
    border-radius: 5px ;
}
.listMethod ul li a:hover{
    background-color: #7ECBE2;
}
.callsInfo{
    height: 83px;
}
.callsInfo:hover{
    background: #F4F1F1;
}
.callsInfo ul li{
    list-style: none;
}
.callerListName{
    font-size: 14px;
    font-weight: 500;
}
.callerListNumber{
    font-size: 12px;
}
.callActivities{
    font-size: 10px;
    color:  #747474;
}
.outgoingIcon{
    color: #FF0000;
}
.incomingIcon{
    color: #01A7CD;
}
.missedIcon{
    color: #5588B8;
}
.AttemptedIcon{
    color: #01DA4D;
}
.viewPrvCall a{
    font-size: 14px;
    text-decoration: none;
    background-color: #10BDF1;
    color: #FFFFFF;
    border-radius: 3px;
}
.viewPrvCall a:hover{
    box-shadow: 2px 2px 8px black;
}
/* pateint details & chat */
.firstDisplay{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 71px;
}
.firstDisplay img{
    width: 50%;
    height: 50%;
}
#showAndhide{
    color: #0004ff;
    cursor: pointer;
}
#showAndhide:hover{
    font-weight: bold;
}
#phaseForChatList{
    color: #01A7CD;
}
.mainPart{
    display: none;
    flex-direction: column;
    height: 975px; 
    width: 100%;
    margin-top: 71px;
}
.pateintDetails{
    display: flex;
    height: 121px;
    position: relative;
    z-index: 7;
}
.patientLogoPart{
    width: 10%;
    display:flex;
    justify-content:center;
    align-items:center;
}
#backToCallList{
    color: #b9b9b9;
    margin: 0 7px;
}
#backToCallList:hover{
    color: #000000;
}
.pateint-logo{
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color: #F8BDBD;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.pateint-logo p{
    font-size: 26px;
    margin-top: 10px;
}
.patientDetailsPart{
    width: 55%;
}
#showingNumberBox{
    text-decoration: none;
}
.callerNumber{
    display: none;
    color: black;
    text-decoration: none;
}
.callerNumber:hover{
    color: #007185;
    font-weight: bold;
}
.details1{
    height: 50%;
}
#nameOfPatient{
    font-size: 23px;
}
.patientName{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 5px;
}
#addressOfPatient{
    font-size: 12px;
}
.details2{
    display: flex;
    align-items: center;
}
.details2 p{
    font-size: 12px;
}
.details2 div{
    margin: 0 10px;
    cursor: pointer;
}
.divider{
    border-left: 3px solid #7ECBE2;
    height: 50%;
  }
.additionalDetailPart{
    width: 35%;
    position: relative;
    z-index: 0;
}
.addDetailPart1{
    margin-top: 8px;
    display: flex;
    justify-content: space-around;
}
.chatTagsDisplayBox{
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    max-height: 52px;
    width: 130px;
    overflow-y: scroll;
}
.chatTagsDisplayBox li{
    list-style: none;
}
.chatTagsDisplayBox a{
    display: flex;
    justify-content: space-around;
}
.followupButton{
    font-size: 11px;
    background-color:#D7ECFF;
    border: 1px solid aqua;
    padding: 2px 4px;
    border-radius: 15px;
    text-decoration: none;
    width: 100%;
    margin: 2px 0;
}
.tagName{
    color: #000000;
}
.tagName:hover{
    color: #0004ff;
    font-weight: bold;
}
#editButton{
    font-size: 13px;
    border: 1px solid black;
    padding: 2px 6px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}
.addDetailPart2{
    margin-top: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.iconSetup{
    font-size: 12px;
}
.backBlue{
    display: inline;
    padding: 5px;
    border-radius: 50%;
}
.backBlue a{
    color: #007185;
}
.backBlue a:hover{
    color: #01DA4D;
}
.moreIcon{
    background-color: #E2E2E2;
    border-radius: 50%;
}


/* **call setting options** */
.radio-custom {
    opacity: 0;
    position: absolute;   
}

.radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    /* margin: 5px; */
    cursor: pointer;
}
.radio-custom-label {
    position: relative;
}
.radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    /* border: 2px solid #ddd; */
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    /* padding: 2px; */
    margin-right: 10px;
    text-align: center;
}

.mP {
    font-size: 10px;
}
.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #bbb;
}

/* calling box */
.callingBox{
    position: absolute;
    width: 380px;
    height: 232px;
    left:65%;
    /* top: 69px; */
    background: #313131;
    border: 2px double #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    z-index: 9;
}
#callSettingBox{
    position: absolute;
    width: 195px;
    height: 141px;
    left: 79%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    z-index: 15;
    display: flex;
    flex-direction: column;
}
.callSettingoption,.audioSettingoption{
    font-size: 14px;
    font-weight: 500;
}
#callingBox{
    display: flex;
    flex-direction: column;
}
#callRinging,#callSeconds{
    font-size: 12px;
}
#callRinging{
    display: none;
}
.callBoxesOptions{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}
.callOptionBox{
    list-style: none;
    width: auto;
    height: 50px;
}
.callOptionBox p{
    font-size: 10px;
    margin-top: 7px;
    color: white;
}
.callOptionBox a{
    border-radius: 50%;
    width: 50px;
    border: 0.5px solid #9c9c9c;
    box-sizing: border-box;
    padding: 5px;
}
#openDateBox{
   color: #009db8;
}
#openDateBox:hover{
   color: #003842;
}
.callOptionBox a i{
    color: white;
    font-size: 12px;
    margin: 5px;
}
.callEndBox{
    background-color: #FF0000;
    border: none;
    cursor: pointer;
}

#ui-datepicker-div{
    display: none;
}
/*  <!-- pateint details & chat --> */
.DateChooseBox{
        max-width: 330px;
        height: 274px;
        width: 330px;
        background: #FFFCE3;
        border: 1px solid #DFDFDF;
        box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        position: absolute;
        top: 5%;
        left:30%;
        z-index: 8;
}
.showToday{
    text-align: center;
    font-size: 14px;
    height: 8%;
    margin-top: 2px;
}
.showToday a{
    color: #000000;
    text-decoration: none;
}
.jumpTotext{
    color: #8D8D8D;
    font-size: 12px;
}
.showJumpSugg{
    color: black;
    font-size: 14px;
    text-decoration: none;
    display: block;
}
#ui-datepicker-div{
    background-color: #FFFFFF;
    width: 350px;
}

.ui-datepicker-header{
    display: flex;
    justify-content: space-around;
}
.ui-datepicker-calendar{
    width: 100%;
}
.ui-state-default{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.ui-state-disabled .ui-state-default{
    color: #BAB8B8;
}
.ui-datepicker-today a{
    color: #24C534;
}
.ui-icon{
    color: #FFB506;
}
.ui-datepicker-prev,.ui-datepicker-next{
    text-decoration: none;
    border: 1px solid black;
    background-color: #000000;

}
.chatBox{
    overflow-y: scroll;
    z-index: 1;
    position: relative;
    z-index: 2;
    height: 631px;
}
.chooseDate{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid black;
    width: 120px;
    height: 30px;
    left: 40%;
}
.chooseDate p{
   margin: 0;
   padding: 0;
}

.msgBox{
    z-index: 2;
    max-width: 35%;
    position: relative;
    top: 35px;
    margin: 7px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
}
.right{
    float: right;
    clear: both;
    background-color: #BCF0FF;
}
.left{
    float: left;
    clear: both;
    background-color:#FFFFFF;
}
.upperBoundBox{
    max-width: 195px;
    height: 27px;
    margin: 15px auto;
}
.alert{
    position: relative;
   top: 35px;
}
.alertBox{
   clear: both;
   
   text-align: center;
   border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 15px;
    background: #FFFFFF;
}
.alertBox span{
    font-size: 14px;
}
.showDate{
    font-size: 10px;
    float: right;
}
.followupSetBox{
    clear: both;
    max-width: 703px;
    height: 69px;
    background-color: #EAFFFB;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    position: relative;
    top: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
}
.followupLogoPart{
    width: 10%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.followup-logo{
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color: #F8BDBD;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.followup-logo p{
    font-size: 16px;
    margin-top: 10px;
}
.followUpDetails{
    width: 70%;
    height: 100%;
}
.followupNameid{
    justify-content: flex-start;
    align-items: center;
    height: 50%;
}
.followupNameid p{
    margin: 0 8px;
    font-size: 16px;
}
.followupNameid p:nth-child(2){
    font-size: 12px;
}
.drAndOffice{
    display:flex;
    justify-content:space-around;
    align-items:center;
    height: 50%;
    font-size: 14px;
}
#drName,#drAddress{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.fubtn{
    width: 70px;
    height: 27.71px;
    background: #FFB506;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}
.Srbtn{
    background: #FFB506;
    padding: 2px 4px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}
.fubtn:hover,.Srbtn:hover{
    background-color: black;
    color: #FFB506;
}
.reminderAlert{
    margin: auto;
    clear: both;
    max-width: 400px;
    position: relative;
    top: 45px;
    
}
.rmBox{
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 2px ;
}
.rmTime{
    font-size: 13px;
    display: flex;

}
.rmTime p{
    display: flex;
    margin: 0;
}
.setReminder{
    margin: auto;
    clear: both;
    max-width: 452px;
    position: relative;
    top: 45px;
    height: 38px;
    background: #FFFFFF;
    border: 0.5px solid #000000;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 5px;
}
.setReminder p{
    margin: 0;
    font-size: 14px;
}
#noteAdds{
    margin-left: 15px;
    color: black;
    text-decoration: none;
}
/* suggestions */
.LowerPart{
    height: 223px;

}
.myP{
    background: #EDECE8;
    
}

#bubble-btn i{
    color: #007185;
    background-color: #FFFFFF;
    position: relative;
    width: 50px;
    bottom: 25px;
    height: 50px;
    display: flex;
    margin: auto;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    z-index: 3;
}
.headSuggest{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    color: #007185;
    margin-top: 5px;
    
}
.headSuggest a:hover{
   font-weight: bold;
   text-decoration: underline;
}
.listSuggestions{
    width: 80%;
    margin: auto;
    overflow-y: scroll;
}
.addButton{
    background: #C8C7C7;
    border-radius: 5px;
    cursor: pointer;
    padding: 2px 5px;
}
.createSuggestionBox{
    position: relative;
    display: inline;
}
.suggestionsMsg{
    margin: 10px;
    overflow-y: scroll;
    height: 100px;
}
.suggestNewMsg{
    font-size: 14px;
    list-style: none;
    background: #FFFFFF;
    cursor: pointer;
    border: 0.5px solid #BAB8B8;
    box-sizing: border-box;
    border-radius: 5px;
    display: inline-block;
    margin: 2px 1px;

    padding: 2px 4px;
}
.suggestNewMsg:hover{
    background-color: #C4C4C4;
}
#creatingSuggestionQA{
    outline: none;
    border: 1px solid #00323b;
    padding: 1px 3px;
    border-radius: 10px;
}
.QAsuggestions{
    display: flex;
    flex-direction: row;
    position: relative;
    height: 80%;
    width: 80%;
    margin: auto;
    /* overflow-y: scroll; */
}
.QAaddbtn{
    width: 5%;
    margin-bottom: 15px;
}
.QAaddicons{
    width: 38px;
    height: 38px;
    background: #FDD8BD;
    border-radius: 50%;
    border: 1px solid black;
}
.QAlist{
    width: 90%;
    overflow-y: scroll;
}
.QAlist li{
    list-style: none;
    border-top: 1px solid #BAB8B8;
}
.QAlist li p a{
    font-size: 14px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.greenIcon{
    color: #24C534;
    margin: 0 10px;
}
#createSuggestionQueAns{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 63%;
    left: 9%;
    box-shadow: 1px 1px 5px black;
    width: 70%;
    background-color: #ffffff;
}
#inputSuggestQueAns{
    width: 100%;
}
/* sending message */
.sendingMsgBox{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    height: 25%;
    margin-top: 0;
}
.sendingMsgBox #attachFile{
    background-color: #EBFFE5;
    padding: 8px;
    border-radius: 50%;
}
.sendingMsgBox #submitBtn{
    background-color: #FFE3E3;
}
.send-container{
    width: 90%;
}
#sendingMsg{
    width: 90%;
    margin: 0 10px;
    outline: none;
    background: #FFFFFF;
    border: 0.5px solid #BAB8B8;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 0 10px;
    height: 38px;
}
.attachOptions{
    position: absolute;
    z-index: 9;
    left: 4%;
   bottom: 56px;
}
.optionInAttaching{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: #007185;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    color: #FFFFFF;
    border-radius: 50%;
}
.optionInAttaching:hover{
    color: #007185;
    background-color: #FFFFFF;
    cursor: pointer;
}
.attachFileFromGall{
    display: flex;
    width: 100%;
    
}
#openAttachImageBox,#openAttachFileBox {
    background: rgb(255, 255, 255);
    /* border: 0.01em solid black; */
    box-shadow: 9px 15px 30px -5px rgb(46 46 46 / 75%);
    -webkit-box-shadow: 9px 15px 30px -5px rgb(46 46 46 / 75%);
    -moz-box-shadow: 9px 15px 30px -5px rgba(46,46,46,0.75);
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: center;
    margin: 2px 5px;
    font-size: 14px;
    left: 9%;
    width: 70%;
    height: 44px;
    border-radius: 8px;
    position: relative;
    z-index: 5;
    bottom: 150px;
}
#openAttachFileBox{
    bottom: 204px;
}
.showClouds{
    display: flex;
}
#cloudBox {
    display: flex;
    flex-direction: column;
    z-index: 7;
    position: relative;
    max-width: 683px;
    width: 26vw;
    bottom: 500px;
    left: 13%;
    max-height: 550px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 5px rgb(0 0 0 / 25%);
    border-radius: 15px;
}

.CIDBox{
    border-bottom: 1px solid black;
}
.cloudImages img{
    width: 15%;
}
.cloudFooter{
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#cancleCloudSave{
    color: black;
    text-decoration: none;
    cursor: pointer;
    padding: 6px 8px;
    background: #FFFFFF;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}
#cancleCloudSave:hover{
    color: #000000;
    background: #FFCD1E;
}
#doneCloudSave{
    color: black;
    text-decoration: none;
    cursor: pointer;
    padding: 6px 8px;
    background: #FFCD1E;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}
#doneCloudSave:hover{
    background: #FFFFFF;
    color: black;
}
/* camera opening */
#cameraBox {
    display: flex;
    flex-direction: column;
    z-index: 500;
    position: absolute;
    top: 76px;
    left: 139px;
    width: 80vw;
    margin: auto;
    height: 100vh;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 5px rgb(0 0 0 / 25%);
    border-radius: 15px;
}
#video,#canvas{
    width: 320px;
    height: 240px;
    margin: 10px 0;
}
.cameraBoxHead{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
}
.CameraBoxopen{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 10px;
}
#canvas{
    max-width: 320px;
    margin: 10px auto;
}
.searchMsgsBox{
    position: absolute;
    max-width: 881px;
    height: 123px;
    width: 80%;
    top: 100%;
    left: 10%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    z-index: 8;
}
.seachBoxMsgs{
    height: 50%;
    display: flex;
    align-items: center;
}
.searchMsgsBox input{
   width: 95%;
   border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    padding: 0 7px;
}
.lineDivider{
    margin: 0;
}
.linkForSendAnother{
    color: #007185;
}
.extraInfo p{
    padding: 5px;
    font-size: 12px;
}
#mediaBox{
    position: absolute;
    max-width: 1000px;
    height: 270px;
    width: 90%;
    top: 100%;
    left:6%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    z-index: 8;
    cursor:auto;
    border: 7px double gray;
}
.allMediaCollection{
    overflow-y: scroll;
    display: flex;
   
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    height: 200px;
}
.imageMediaBox{
    display: flex;
    justify-content: flex-start;
}
.optionInMedia{
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
}
.optionMediaList{
    list-style: none;
    width: 33%;
    text-align: center;
    cursor: pointer;
    color: #0084a2;
}
.optionMediaList a{
  font-weight: 500;
}
.optionMediaList a:hover{
    font-weight: bold;
}
.imagesMedia,.linkMedia,.pdfMedia,.wordMedia {
    background: #FFFFFF;
    border: 0.5px solid gray;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 1px 7px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 1px 7px -4px rgba(0,0,0,0.75) ;
-moz-box-shadow: 2px 1px 7px -4px rgba(0,0,0,0.75) ;
}

.imagesMedia img{
    max-width: 200px;
    width: 8vw;
    height: 8vw;
}
.imagesMedia{
    padding: 10px;
}
.linkMedia {
    width: 40%;
    height: auto;
    max-height: 100%;
    padding: 4px 6px;
}
.imgAndHead{
    display: flex;
}
.imgAndHead p,.linkOfPerticularMedia{
    font-size: 13px;
}
.pdfMedia,.wordMedia {
    width: 130px;
    height: 130px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
}
.pdfMedia a,.wordMedia a{
    font-size: 12px;
    text-align: center;
}
/* adding a notes */
#addNoteBox{
    position: absolute;
    max-width: 282px;
    height: 260px;
    border-radius: 8px;
    width: 50%;
    top: 100%;
    left:35%;
    z-index: 10;
    background: #ffffff;
    -webkit-box-shadow: 10px 13px 24px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 13px 24px 3px rgba(0,0,0,0.75);
    box-shadow: 10px 13px 24px 3px rgba(0,0,0,0.75);
    }
.writingNoteBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#writingNote{
    resize: none;
    outline: none;
    width: 90%;
    padding: 5px;
    height: 150px;
    border-radius: 5px;
    border: 1px solid gray;
}
#checkTheChar{
    position: relative;
    left:22%;
}
/* reminder box when click */
 #reminderBox{
    background-color: #ffffff;
    position: fixed;
    top: 29%;
    left: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-direction: column;
    max-width: 282px;
    height: auto;
    border-radius: 8px;
    width: 50%; 
    z-index: 10;
    border-radius: 10px;
    background: linear-gradient(145deg, #ffffff, #ffffff);
}
.remindWriteBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#remindwritingNote{
    resize: none;
    outline: none;
    margin: 0 auto;
    width: 90%;
    padding: 5px;
    height: 90px;
    border-radius: 5px;
    border: 1px solid gray;
}
/* set reminder box */
.setRemBox{
    position: fixed;
    top: 29%;
    left: 45%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    max-width: 282px;
    height: 240px;
    border-radius: 8px;
    width: 50%;
    z-index: 10;
    background: #ffffff;
    border-radius: 10px;
    background: linear-gradient(145deg, #ffffff, #ffffff);
    box-shadow:  6px 6px 12px #989898,
                 -6px -6px 12px #ffffff;
}

.setRemItem{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#pickD-T{
    outline: none;
    border: none;
    
}
/* reccent reminder box */
#recRemBoxOpen{
    position: fixed;
    top: 29%;
    left: 45%;
    display: flex;
    flex-direction: column;
    max-width: 282px;
    height: 210px;
    border-radius: 8px;
    width: 50%;
    z-index: 10;
    background: #ffffff;
    border-radius: 10px;
    background: linear-gradient(145deg, #ffffff, #ffffff);
    box-shadow:  6px 6px 12px #989898,
                 -6px -6px 12px #ffffff;
}
.recRemItem{
    display: flex;
    border-bottom: 1px solid rgb(209, 209, 209);
}
.recRemItem1{
    width: 80%;
}
.recRemContent{
    font-size: 12px;
}
.recRemDate,.DoneOrNot{
    font-size: 10px;
}
.recRemItem2{
    display: flex;
    width: 15%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#closeRecRemBox{
    cursor: pointer;
}
/* tag edition box popUp */
#tagEditionBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    max-width: 282px;
    height: 150px;
    border-radius: 8px;
    width: 50%;
    top: 202%;
    left:35%;
    z-index: 10;
    background: #ffffff;
    -webkit-box-shadow: 10px 13px 24px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 13px 24px 3px rgba(0,0,0,0.75);
    box-shadow: 10px 13px 24px 3px rgba(0,0,0,0.75);
}
#colourBox{
    display: flex;
    flex-direction: column;
    position: absolute;
    max-width: 282px;
    height: 100%;
    border-radius: 8px;
    width: 50%;
    top: 327%;
    left:35%;
    z-index: 10;
    background: #ffffff;
    -webkit-box-shadow: 10px 13px 24px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 13px 24px 3px rgba(0,0,0,0.75);
    box-shadow: 10px 13px 24px 3px rgba(0,0,0,0.75);
}
.tagEditionDetailPart1{
    display: flex;
    width: 100%;
    align-items: center;
    height: 70%;
    justify-content: space-between;
}
.cBox{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 33%;
    margin: 8px 0;
}
.dot{
    background-color: #c6a5f3;
    padding: 3px 12px;
    border-radius: 50%;
}
.clr{
    padding: 3px 12px;
    border-radius: 50%;
    border: 2px solid black;
    transition: all 0.5s;
}
.clr:hover{
    padding: 3px 12px;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 3px 3px 5px black;
}
.black{
    background-color: black;
    color: black;
}
.brown{
    background-color: brown;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
.purple{
    background-color:  purple;
}
.pink{
    background-color: pink;
}
#editTagName{
    outline: none;
    height: 100%;
    resize: none;
    border: none;
}
#editButtonTag{
    color: #8a8a8a;
}
#editButtonTag:hover{
    color:#007185;
}
#applyTagEdit{
    float: right;
    margin: 10px;
}
.tagBox{
    position: absolute;
    max-width: 881px;
    height: 123px;
    width: 90%;
    top: 100%;
    left: 6%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    z-index: 8;
}
.tags{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    
    height: 50%;
    overflow: scroll;
}
.tags li{
    list-style: none;
    border-bottom: 1px solid rgb(136, 136, 136);
}
.tags li a{
  color: black;
  text-decoration: none;
}
.tagCheck{
    margin-left: 5px;
}
.TagCreationBox{
    display: flex;
    align-items: center;
    height: 40%;
}
.TagCreationBox form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.createTags{
    background-color: #01A7CD;
    color: #FFFFFF;
    padding: 4px 8px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 12px;
    margin-left: 20px;
}
.createTags:hover{
    color: #01A7CD;
    background-color: #FFFFFF;
    border: 1px solid #01A7CD;
}
#manageButton{
    cursor: pointer;
    text-decoration: none;
}
#createTagButton,#manageButton,#applyTagInBox{
    font-size: 14px;
}
#createTagButton{
    background: #FFFFFF;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 2px 6px;
    cursor: pointer;
}
#createTagButton:hover{
    background: #01A7CD;
    color: #ffffff;
   
}
.TagCreationBoxPart1{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#showErrorTag{
    color: red;
    font-size: 15px;
    margin-left: 10px;
}
/* Tag Manages Box*/
.manageTagsBox{
    position: absolute;
    max-width: 881px;
    height: 123px;
    top: 204%;
    width: 20%;
    left: 6%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    z-index: 8;
}
.manageTagHeader{
    display: flex;
    height: 26px;
    justify-content: space-around;
}
#tagsForManage li{
    list-style: none;
}
#tagsForManage li a svg{
    margin-right: 10px;
}
#tagsForManage li a{
   color: black;
   text-decoration: none;
}
.tagListInManageBox{
    background: #ffffff7d;
    overflow-y: scroll;
    height: 66%;
}
/* for giving call option popup */
.fullscreen-container ,.fullscreen-container3{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(31, 31, 31, 0.5);
    /* background-color: #FFFFFF; */
    z-index: 9999;
}
#popDiv {
    height: 80px;
    width: 41vw;
    background-color: #ffffff;
    position: fixed;
    top: 50%;
    left: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-direction: column;
  }
  .popDiv h4{
    font-weight: 600;
    font-size: 20px;
  }
  #but1,#but2{
    background: #FFFFFF;
    border: 1px solid #1CB5C6;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 3px 12px;
    margin: 0 5px;
  }
  #but1:hover,#but2:hover{
    background: #1CB5C6;
    color: #ffffff;
  }
  .fullscreen-container2{
      display: none ;
  }
  #inputLabelMob{
    border: 1px solid gray;
    outline: none;
    border-radius: 5px;
    height: 31px;
  }
  .advnc-search {
    background: none;
    border: none;
    color: #435aaa;
    font-size: 14px;
    position: relative;
    right: 85px;
    width: 61px;
}
.input-group-append {
    margin-left: -64px;
}

/* Advanced Patient Search */

.popup-form {
    display: flex;
    justify-content: center;
}

.dvSelect>select,
#divControl>input,
#divControl>select {
    width: 12rem;
    margin: 16px;
    border: 1px solid black;
    border-radius: 7px;
    text-align: initial;
    font-size: 15px;
    padding: 5px;
}

.popup-form>select>option {
    width: 15rem;
    font-size: 12px;
}

.fa-times-circle {
    font-size: 18px;
    color: red;
    margin-top: 14px;
    margin-left: -5px;
}

#btnAddMore {
    color: rgb(0, 162, 255);
    font-size: 15px;
    border: none;
    background-color: white;
    cursor: pointer;
    margin-left: 35px;
}

#divCategories {
    margin: 10px 27px;
    box-shadow: 0 0 13px -7px #444444;
    background-color: white;
    width: 55%;
}

#divCategories>input {
    /* width: 4rem; */
    margin: 5px;
}
#divCategories>label {
    display: initial;
}

#divCategories>input,
#divCategories>label {
    cursor: pointer;
}

#divCategories>label:hover {
    background-color: rgb(0, 162, 255);
    color: white;
}

#divNoData {
    color: red;
    font-size: 14px;
    margin-left: 36px;
    display: none;
}
