*{
    margin: 0;
    padding: 0;
 }
 p{
     margin-bottom: 0;
 }
 main aside,.angleDownDesk,.Starred,.separator{
     display: none;
 }
 header{
     position: absolute;
     top: 0;
 }
 .navForDeskTop{
     display: none;
 }
 /* navbar */
 
 .navbar-sidenav>.nav-item>.nav-link {
     font-size: 15px;
 }
 
 #mySidenav {
     width: 0px;
     border: none;
     background-color:#efefef;
 }
 .nav-link-text{
     font-size: 14px;
 }
 .patientName a,.patientAddress,#voiceCall,#searchMsg,#media,.divider,.additionalDetailPart{
    display: none;
 }
 .mainPart,#mediaBox,#searchMsgsBox,.fullscreen-container,#nameOfPatient {
     display: none;
 }
 .firstDisplay{
     display: none !important;
 }
 #tagBox{
     display: none;
 }
 main{
     display: block;
 }
 /* .mainPart{
     display: none;
 } */
 .chatAndCallList{
     width: 98%;
     border: none;
     height: 95vh;
     border-radius: 0;
 }
 .navbarForMob{
     display: flex;
     border-top: 1px solid black;
     /* position: relative; */
     width: 100vw;
     height: 70px;
     border-bottom: 1px solid black;
     z-index: 699;
     background-color: white;
 }
 .MobOptionBox{
     display: flex;
     position: absolute;
     right: 20%;
     top: 45%;
     background: #FFFFFF;
     box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
     border-radius: 10px;
     z-index: 3;
 }
 .MobOptionBox ul{
     padding: 10px 15px;
 }
 .MobOptionBox ul li{
     list-style: none;
 }
 .MobOptionBox ul li a{
     text-decoration: none;
     color: black;
     font-size: 15px;
 }
 .MobOptionBox ul li a:hover{
     text-decoration: underline;
     color: darkgray;
   
 }
 .searchInMob{
     width: 100%;
     height: 100%;
     background-color: #4E4E4E;
 }
 .searchInMob input{
     width: 90%;
     height: 100%;
     outline: none;
     border: none;
     padding: 0 15px;
     background-color: #4E4E4E;
     color: #B9B9B9;
 
 }
 #nameOfPatientInMob{
     color: #000000;
     display: inline;
     font-size: 18px;
 }
 #nameOfPatientInMob:hover{
     font-weight: bold;
     color: #007185;
 }
 
 .refresh{
     display: none;
 }
 .part-1 {
     height: 37px;
 }
 .chatOptions{
     width: 100%;
     justify-content: center;
     display: flex;
     height: 100%;
     align-items: center;
 }
 .patientLogoPart a{
     display: inline-block;
 }
 #mobAllbtn{
     display: inline-block;
 }
 .chatOptions button{
 height: 100%;
 margin: 0;
 border-radius: 0;
 font-size: 11px;
 width: 33%;
 }
 .part-1 {
     padding: 0;
     margin: 0;
 }
 .chatListMethod,.searchBar{
     display: none;
 }
 .messageBox {
     width: 98%;
 }
 .nameMessenger {
     font-size: 16px;
 }
 .messageBox .box {
     padding: 0;
     height: 78px;
     display: flex;
     margin: 0;
     flex-direction: column;
     justify-content: center;
     border-bottom: 1px solid black;
 }
 .msg {
     font-size: 12px;
 }
 .showMsgDateMob{
     display: inline-block;
     font-size: 12px;
 }
 .listMethod {
     width: 100%;
 }
 .listMethod ul{
     width: 95%;
 }
 .listMethod ul li a {
     font-size: 13px;
 }
 .callActivities{
     font-size: 11px;
 }
 .callerListName {
     font-size: 15px;
 }
 .separator, .callerListNumber {
     font-size: 12px;
 }
 .callsInfo {
    border-bottom: 1px solid black;
 }
 .callDate{
     display: inline-block;
     font-size: 12px;
 }
 .mainPart{
     height: 100vh;
 }
 .pateintDetails{
     height: 12%;
 }
 .MobOptionsForMess{
     display: flex;
     width: 30%;
     justify-content: space-around;
     align-items: center;
 }
 .patientDetailsPart {
     width: 50%;
 }
 .patientLogoPart {
     width: 20%;
 }
 #nameOfPatient {
     font-size: 20px;
 }
 .details2 p {
     font-size: 12px;
 }
 .pateint-logo {
     width: 30px;
     margin: 5px;
     height: 30px;
 }
 .pateint-logo p {
     font-size: 14px;
 }
 .chatBox{
     height: 83%;
 }
 .msgBox {
     max-width: 70%;
 }
 #datePicker {
     width: 30%;
 }
 .LowerPart{
     height: 7%;
 }
 .myP,.rplyAndAns,.sendingMsgBox{
     display: none;
 }
 
 .sendingMsgBoxMob{
     height: 100%;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .sendingMsgBoxMob form{
     display: flex;
 }
 .sendingMsgBoxMob form a{
     width: 10%;
     display: flex;
     align-items: center;
     justify-content: center;
     text-decoration: none;
 }
 #submitBtnMob i{
     background: #00A455;
     border-radius: 50%;
     padding: 10px;
     color: #ffffff;
 
 }
 
 .inputFileMob{
     background: #FFFFFF;
     border: 1px solid #000000;
     box-sizing: border-box;
     border-radius: 20px;
     width: 90%;
     padding: 5px;
     display: flex;
 }
 .inputFileMob input{
     border:none;
     outline: none;
     width: 90%;
 }
 #MobSettingBox {
     display: block;
     position: absolute;
     z-index: 105;
     width: 30%;
     top: 20%;
     max-width: 109px;
     left: 70%;
     background: #FFFFFF;
     box-shadow: 0px 0px 4px 2px rgb(0 0 0 / 25%);
     border-radius: 10px;
 }
 #MobSettingBox ul{
     padding: 10px;
 }
 #MobSettingBox ul li{
     list-style: none;
     border-bottom: 1px solid black;
     font-size: 12px;
 }
 #MobSettingBox ul li:hover{
     background-color: #0000002c;
 }
 /* open div when tag creation*/
 .fullscreen-container2{
     display: block;
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background: rgba(52, 52, 52, 0.5);
     /* background-color: #FFFFFF; */
     z-index: 9999;
 }
 .createLabelBoxMob,#manageBoxInMob{
     max-height: 250px;
     height: 37vh;
     width: 41vw;
     background-color: #ffffff;
     position: fixed;
     top: 35%;
     left: 33%;
     display: flex;
     align-items: center;
     border-radius: 10px;
     flex-direction: column;
     z-index: 5;
 }
 #manageSettingBox{
     max-height: 250px;
     height: 37vh;
     width: 41vw;
     background-color: #ffffff;
     position: fixed;
     top: 35%;
     left: 33%;
     display: flex;
     align-items: center;
     border-radius: 10px;
     flex-direction: column;
     z-index: 5;
 }
 #colourBoxInMob{
     display: flex;
     flex-direction: column;
     height: 40%;
     border-radius: 8px;
     width: 100%;
     padding: 0;
     z-index: 10;
     border: 1px solid;
 }
 .cBoxMob{
     display: flex;
     width: 100%;
     justify-content: space-around;
     height: 33%;
     margin: 2px 0;
 }
 #dotInMob{
     background-color: #c6a5f3;
     padding: 3px 12px;
     border-radius: 50%;
 }
 .clrMob{
     padding: 3px 12px;
     border-radius: 50%;
     border: 2px solid black;
     transition: all 0.5s;
 }
 .clrMob:hover{
     padding: 3px 12px;
     border-radius: 50%;
     border: 2px solid black;
     box-shadow: 3px 3px 5px black;
 }
 .tagsInMobManage li a,.tagsInMob li a{
     text-decoration: none;
     color: black;
 }
 .black{
     background-color: black;
     color: black;
 }
 .brown{
     background-color: brown;
 }
 .blue{
     background-color: blue;
 }
 .green{
     background-color: green;
 }
 .orange{
     background-color: orange;
 }
 .yellow{
     background-color: yellow;
 }
 .red{
     background-color: red;
 }
 .purple{
     background-color:  purple;
 }
 .pink{
     background-color: pink;
 }
 .headIncreateLabelBox{
     width: 100%;
     height: 25%;
     display: flex;
     justify-content: space-around;
 }
 .headInManageInMobBox{
     width: 100%;
     height: 7%;
     display: flex;
     justify-content: space-around;
 }
 .bodyInCreateLabelBox{
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
 }
 .bodyInManageBox{
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
 }
 #tagsOptionForMob {
     max-height: 250px;
     height: 37vh;
     width: 41vw;
     background-color: #ffffff;
     position: fixed;
     top: 35%;
     left: 33%;
     display: flex;
     align-items: center;
     border-radius: 10px;
     flex-direction: column;
   }
 .tagsOptionForMobHead{
     display: flex;
     justify-content: space-around;
     align-items: center;
     width: 100%;
 }
 .tagsOptionForMobHead a,.tagsOptionForMobHead p{
     font-size: 13px;
 }
 .tagsListInMob{
     border-top: 1px solid rgb(198, 198, 198);
     border-bottom: 1px solid rgb(198, 198, 198);
     width: 100%;
     height: 80%;
     overflow-y: scroll;
 }
 .tagsListInMob li{
     list-style: none;
     display: flex;
     align-items: center;
     justify-content: space-around;
 }
 .tagsListInMob li a{ 
     width: 70%;
 }
 #btnForApplyInMob{
     border-radius: 5px;
 }
 #popUpCreatedMsg{
     color: #00A455;
     display: none;
 }
 #showErrorMob{
     color: #ff0101;
     display: none;
 }
 #createTagInMobBtn,#manageInMob{
     text-decoration: underline;
     color:#0055a4;
 }
 
 .MobTagListBox{
     display: flex;
     justify-content: center;
     position: absolute;
     z-index: 7;
     width: 30%;
     top: 70%;
     max-width: 125px;
     max-height: 150px;
     overflow-y: scroll;
     left: 68%;
     background: #FFFFFF;
     box-shadow: 0px 0px 4px 2px rgb(0 0 0 / 25%);
     border-radius: 10px;
 }
 #chatTagDisplayBoxMob{
     width: 90%;
     margin: 0;
     padding: 0;
 }
 #chatTagDisplayBoxMob li{
     list-style: none;
     width: 100%;
 }
 #chatTagDisplayBoxMob li a{
     display: flex;
     justify-content: space-around;
     align-items: center;
 }
 
 /* add notes  */
 #addNoteBox {
     max-width: 230px;
     width: 50%;
     top: 100%;
     left: 38%;
     z-index: 3;
     background: #ffffff;
     -webkit-box-shadow:4px 5px 15px 1px rgb(0 0 0 / 75%);
     -moz-box-shadow: 4px 5px 15px 1px rgb(0 0 0 / 75%);
     box-shadow: 4px 5px 15px 1px rgb(0 0 0 / 75%);
 }
 .attachOptionsMob{
     position: absolute;
     bottom: 44px;
     right: 16%;
     display: flex;
     flex-direction: column;
     background-color: #000000b3;
     border-radius: 30px;
     padding: 2px 3px;
     z-index: 5;
 }
 .optionInAttachingMob{
     display: flex;
     flex-direction: column;
     border: 1px solid black;
     background-color: #007185;
     width: 30px;
     height: 30px;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 10px 0;
     color: #FFFFFF;
     border-radius: 50%;
 }
 .optionInAttachingMob:hover{
     color: #007185;
     background-color: #FFFFFF;
     cursor: pointer;
 }
 #openAttachImageBox,#openAttachFileBox {
     position: absolute;
     left: 7%;
     bottom: 55px;
 }
 #openAttachFileBox{
     bottom: 103px;
 }
 #cloudBox {
     width: 44vw;
     bottom: 10px;
     position: absolute;
     left: 30%;
 }
 
 /* calling box design */
 .callingBox {
     left: 59%;
     height: 32vh;
     width: 39%;
 }
 .callOptionBox a {
     width: 38px;
     padding: 3px;
 }
 .callOptionBox a i {
     font-size: 9px;
 }
 #callSettingBox {
     left: 63%;
 
 }
 .mP {
     font-size: 8px;
     font-weight: 600;
 }
 
 .callSettingoption, .audioSettingoption {
     font-size: 11px;
     font-weight: bold;
 }
 
 
 /* user info box in mobile */
 #userInfo{
     display: flex;
     flex-direction: column;
     background-color: #ffffff;
     z-index: 999;
     width: 100vw;
     height: 100vh;
     position: relative;
 }
 .userInfoPart1{
     display: flex;
     justify-content: space-between;
     height: 30%;
     width: 100%;
 }
 .backToMainButton{
     width: 15%;
 }
 .ProfileDetails{
     display: flex;
     width: 70%;
     flex-direction: column;
 }
 .editInMobileOptions{
     width: 15%;
     display: flex;
     justify-content: flex-end;
 }
 
 .profilePicInUserInfo h2{
     padding: 12px;
     border-radius: 50%;
     border: 1px solid black;
 }
 #showAndHideMobNo{
     font-size: 14px;
     color: #007185;
 }
 .addressOfUserInMob{
     font-size: 16px;
 }
 .addressOfUserInMob h5{
     font-size: 14px;
 }
 #mediaUlForPhone,#DocUlForPhone,#LinkUlForPhone{
     display: flex;
     overflow-x: scroll;
 }
 .imagesMedia{
     height: 80px;
     margin: 7px 10px !important;
     width: 80px;
 }
 .imagesMedia img {
     /* max-width: 200px; */
     width: 55px;
     height: 100%;
   
 }
 .pdfMedia, .wordMedia {
     width: auto;
     height: auto;
     padding: 5px;
     margin: 7px 10px !important;
 }
 .pdfMedia a, .wordMedia a {
     font-size: 8px;
 }
 .linkMedia {
     width: auto;
 }
 .imgAndHead img{
     width: 45px;
     height: 45px;
 }
 .linkMedia {
     margin: 7px 10px !important;
 }
 .imgAndHead p{
     font-size: 8px;
     overflow: hidden;
 }
 #reportMe{
     text-decoration: none;
 }
 #reportMe:hover{
     font-weight: bold;
 }
 #userInfoSetting{
     top: 6%;
     position: absolute;
     right: 6%;
 }
 .ulForUserinfoSetting{
     border: 1px solid black;
     padding: 0;
     margin: 0;
     box-shadow: 3px 3px 3px;
     background: white;
     border-radius: 11px;
 }
 .ulForUserinfoSetting li{
     list-style: none;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 80px;
     box-shadow: 3px 3px 3px;
     background: white;
     border-radius: 11px;
 }
 .ulForUserinfoSetting li:hover{
     background-color: wheat;
 }
 
 .setRemBox {
     position: fixed;
     top: 40%;
     left: 24%;
     display: flex;
     flex-direction: column;
     cursor: pointer;
     max-width: 282px;
     height: auto;
     border-radius: 8px;
     width: 70%;
     z-index: 10;
     background: #ffffff;
     border-radius: 10px;
     background: linear-gradient(145deg, #ffffff, #ffffff);
     box-shadow: 6px 6px 12px #989898, -6px -6px 12px #ffffff;
 }
 #recRemBoxOpen {
     position: fixed;
     top: 40%;
     left: 24%;
     height: 210px;
     width: 70%;
 }
 #addNoteBox {
     left: 18%;
     width: 70%;
 }
 #reminderBox {
     top: 38%;
     left: 28%;
 }
 